@model New_Online_Lms.Models.Course

@{
    ViewBag.Title = "Add Course";
}

<h2>Add New Course</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="Title">Title</label>
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Enter course title" })
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Enter course description" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}
